@mixin bg-image($path) {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  user-select: none;

  @include bg-img-webp($path, true);
}

.main {
  position: relative;
  padding-top: to-rem(30);
  padding-bottom: to-rem(30);
  font-size: to-rem(16);

  @include respond-above(medium) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: to-rem(50) 6vw;
  }

  @include respond-above(xmedium) {
    padding-top: to-rem(60);
    padding-bottom: to-rem(60);
    font-size: to-rem(18);
  }
}

.main__section {
  display: contents;

  @include respond-above(medium) {
    display: block;
  }
}

.main__main-pic {
  display: inline-block;
  width: 100%;
  margin-bottom: to-rem(15);
  border-radius: to-rem(5);

  @include respond-above(medium) {
    margin-bottom: to-rem(30);
  }
}

.main__title {
  margin-bottom: to-rem(15);
  font-size: to-rem(24);
  text-transform: uppercase;

  @include respond-above(xmedium) {
    font-size: to-rem(32);
  }
}

.main__text--accent {
  color: var(--col-tibetan-yellow);
}

.main__subtitle {
  margin-bottom: to-rem(30);
  color: var(--col-total-white);
  font-size: to-rem(18);
  text-transform: uppercase;

  @include respond-above(xmedium) {
    margin-bottom: to-rem(40);
    font-size: to-rem(24);
  }
}

.main__cta-btn {
  position: relative;
  z-index: var(--z-default);
  width: 100%;
  margin-bottom: to-rem(30);

  @include respond-above(medium) {
    display: none;
  }
}

.main__advantages-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: to-rem(20);
  margin-bottom: to-rem(60);

  @include respond-above(medium) {
    grid-template-columns: repeat(3, 1fr);
    // grid-gap: min(4.7vw, to-rem(40));
    grid-gap: to-rem(40);
    // max-width: to-rem(1150);
    margin-bottom: 0;
  }
}

.main__advantages-list-item {
  display: flex;
  flex-direction: column;
}

.main__advantage-img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: to-rem(20);
  filter: drop-shadow(
    0 to-rem(4) to-rem(25) rgba(var(--col-total-black-rgb), 35%)
  );

  img {
    width: to-rem(150);

    @include respond-above(medium) {
      width: to-rem(180);
    }
  }
}

.main__advantage-title {
  --decor-width: #{to-rem(2)};

  position: relative;
  margin-bottom: to-rem(10);
  padding-left: calc(var(--decor-width) + to-rem(10));
  font-size: to-rem(20);
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: var(--decor-width);
    height: 100%;
    background-color: var(--col-tibetan-yellow);
  }
}

.main__desktop-sign-up-logo {
  margin-bottom: to-rem(40);
}

.main__desktop-sign-up-wrapper {
  display: none;

  @include respond-above(medium) {
    --sign-up-form-input-bg: var(--col-rich-olive);
    --sign-up-form-text-color: var(--col-total-white);
    --auth-type-radio-bg: var(--sign-up-form-input-bg);

    width: min(36vw, to-rem(518));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: to-rem(30) max(3vw, to-rem(20));
    background-color: rgba(var(--col-gordons-green-rgb), 30%);
    border-radius: to-rem(5);
    border: to-rem(1) solid var(--col-island-palm);
    backdrop-filter: blur(to-rem(15));

    @include respond-above(xmedium) {
      width: min(32vw, to-rem(518));
    }

    .sign-up-form__title {
      margin-bottom: to-rem(40);
      font-size: to-rem(24);
    }
  }
}

.main__partners-wrapper {
  grid-column: 1 / -1;
}

.main__partners-title {
  margin-bottom: to-rem(10);
  font-size: to-rem(18);
  text-align: center;
}

.main__partners-list {
  max-width: to-rem(450);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: to-rem(10);
  place-items: center;
  margin: 0 auto;

  @include respond-above(medium) {
    grid-gap: 4vw;
  }
}

.main__decor-confetti-1 {
  position: absolute;
  z-index: var(--z-hidden);
  width: to-rem(120);
  aspect-ratio: 0.95;
  top: to-rem(580);
  left: -#{to-rem(30)};

  @include bg-image('/img/decor/confetti-1');

  @include respond-above(medium) {
    top: unset;
    bottom: to-rem(160);
    width: to-rem(270);
  }
}

.main__decor-confetti-2 {
  position: absolute;
  z-index: var(--z-hidden);
  width: to-rem(180);
  aspect-ratio: 0.36;
  bottom: to-rem(80);
  right: -#{to-rem(50)};

  @include bg-image('/img/decor/confetti-2');

  @include respond-above(medium) {
    width: to-rem(260);
    bottom: to-rem(130);
    right: 0;

    &::after {
      content: '';
      position: absolute;
      bottom: -50%;
      right: -120%;
      width: to-rem(677);
      aspect-ratio: 1;
      background-color: rgba(var(--col-lexaloffle-green-rgb), 50%);
      border-radius: 50%;
      filter: blur(to-rem(75));
    }
  }
}
