$col-black-chestnut-oak: #272421;
$col-black-chestnut-oak-rgb: hex-to-rgb($col-black-chestnut-oak);

$col-downwell: #001106;
$col-downwell-rgb: hex-to-rgb($col-downwell);

$col-composite-artefact: #52cc00;
$col-composite-artefact-rgb: hex-to-rgb($col-composite-artefact);
