<header class="app-navbar">
  <div class="app-navbar__container container">
    <a
      class="app-navbar__logo-link"
      href="https://mayan.bet/"
      aria-label="Mayan.bet"
    >
      {{> svg-icon class='app-navbar__logo' width="182" height="35" name='logo'
      }}
    </a>

    <!-- <ul class="app-navbar__nav-list">
      <li class="app-navbar__nav-list-item">
        <button
          class="js-terms-btn"
          type="button"
          aria-label="Abrir Termos e condições"
        >
          Termos e condições
        </button>
      </li>
      <li class="app-navbar__nav-list-item">
        <button
          class="js-privacy-policy-btn"
          type="button"
          aria-label="Abrir Política de Privacidade"
        >
          Política de Privacidade
        </button>
      </li>
    </ul> -->

    <!-- <button
      class="app-navbar__sign-up-btn app-button js-sign-up-btn"
      type="button"
      aria-label="Inscrever-se"
    >
      Inscrever-se
    </button> -->
  </div>
</header>
