<main class="main container">
  <section class="main__section">
    <picture class="main__main-pic">
      <source
        type="image/webp"
        srcset="
          /img/decor/main-pic.webp     874w,
          /img/decor/main-pic@2x.webp 1748w
        "
        sizes="874px"
      />
      <source
        type="image/jpeg"
        srcset="/img/decor/main-pic.jpg 874w, /img/decor/main-pic@2x.jpg 1748w"
        sizes="874px"
      />
      <img
        src="/img/decor/main-pic.jpg"
        width="874"
        height="300"
        alt=""
        loading="lazy"
      />
    </picture>
    <h2 class="main__title main__text--accent">
      O maior bônus de apostas esportivas do Brasil
    </h2>
    <p class="main__subtitle">R$13.500 ilimitados esperam por você!</p>
    <button
      class="main__cta-btn app-button js-show-auth-btn"
      type="button"
      aria-label="Inscrever-se"
    >
      Inscrever-se
    </button>
    <ul class="main__advantages-list">
      <li class="main__advantages-list-item">
        <picture class="main__advantage-img">
          <source
            type="image/webp"
            srcset="
              /img/advantages/advantage-1.webp    180w,
              /img/advantages/advantage-1@2x.webp 360w
            "
            sizes="180px"
          />
          <source
            type="image/png"
            srcset="
              /img/advantages/advantage-1.png    180w,
              /img/advantages/advantage-1@2x.png 360w
            "
            sizes="180px"
          />
          <img
            src="/img/advantages/advantage-1.png"
            width="180"
            height="180"
            alt=""
            loading="lazy"
          />
        </picture>
        <h3 class="main__advantage-title">Apostas Esportivas</h3>
        <p>
          Não perca mais tempo! Junte-se a milhões de apostadores e conquiste a
          vitória nos seus esportes favoritos.
        </p>
      </li>
      <li class="main__advantages-list-item">
        <picture class="main__advantage-img">
          <source
            type="image/webp"
            srcset="
              /img/advantages/advantage-2.webp    180w,
              /img/advantages/advantage-2@2x.webp 360w
            "
            sizes="180px"
          />
          <source
            type="image/png"
            srcset="
              /img/advantages/advantage-2.png    180w,
              /img/advantages/advantage-2@2x.png 360w
            "
            sizes="180px"
          />
          <img
            src="/img/advantages/advantage-2.png"
            width="180"
            height="180"
            alt=""
            loading="lazy"
          />
        </picture>
        <h3 class="main__advantage-title">Crash Games</h3>
        <p>Aposte, arrisque e vença! No Crash Game, a diversão é garantida.</p>
      </li>
      <li class="main__advantages-list-item">
        <picture class="main__advantage-img">
          <source
            type="image/webp"
            srcset="
              /img/advantages/advantage-3.webp    180w,
              /img/advantages/advantage-3@2x.webp 360w
            "
            sizes="180px"
          />
          <source
            type="image/png"
            srcset="
              /img/advantages/advantage-3.png    180w,
              /img/advantages/advantage-3@2x.png 360w
            "
            sizes="180px"
          />
          <img
            src="/img/advantages/advantage-3.png"
            width="180"
            height="180"
            alt=""
            loading="lazy"
          />
        </picture>
        <h3 class="main__advantage-title">Cassino</h3>
        <p>Mais de 2000 jogos no Cassino da Mayan.Bet</p>
      </li>
    </ul>
  </section>
  <div class="main__desktop-sign-up-wrapper">
    <a
      class="main__desktop-sign-up-logo"
      href="https://mayan.bet/"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      {{> svg-icon width="256" height="50" name='logo' }}
    </a>
    {{> sign-up-form class="main__desktop-sign-up-form" title="Criar Sua Conta
    Grátis" name="desktopSignUp" }}
  </div>
  <div class="main__partners-wrapper">
    <p class="main__partners-title">Nossos Parceiros:</p>
    <ul class="main__partners-list">
      <li>
        <picture class="main__partner-img">
          <source
            type="image/webp"
            srcset="
              /img/partners/partner-1.webp    116w,
              /img/partners/partner-1@2x.webp 232w
            "
            sizes="116px"
          />
          <source
            type="image/png"
            srcset="
              /img/partners/partner-1.png    116w,
              /img/partners/partner-1@2x.png 232w
            "
            sizes="116px"
          />
          <img
            src="/img/partners/partner-1.png"
            width="116"
            height="110"
            alt=""
            loading="lazy"
          />
        </picture>
      </li>
      <li>
        <picture class="main__partner-img">
          <source
            type="image/webp"
            srcset="
              /img/partners/partner-2.webp    116w,
              /img/partners/partner-2@2x.webp 232w
            "
            sizes="116px"
          />
          <source
            type="image/png"
            srcset="
              /img/partners/partner-2.png    116w,
              /img/partners/partner-2@2x.png 232w
            "
            sizes="116px"
          />
          <img
            src="/img/partners/partner-2.png"
            width="116"
            height="110"
            alt=""
            loading="lazy"
          />
        </picture>
      </li>
      <li>
        <picture class="main__partner-img">
          <source
            type="image/webp"
            srcset="
              /img/partners/partner-3.webp    116w,
              /img/partners/partner-3@2x.webp 232w
            "
            sizes="116px"
          />
          <source
            type="image/png"
            srcset="
              /img/partners/partner-3.png    116w,
              /img/partners/partner-3@2x.png 232w
            "
            sizes="116px"
          />
          <img
            src="/img/partners/partner-3.png"
            width="116"
            height="110"
            alt=""
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</main>
<div class="main__decor-confetti-1"></div>
<div class="main__decor-confetti-2"></div>
